/*--- PALETTE ---*/

#palette {
	display: none;
	animation: fade-pop-in 1s ease;
	margin: 35px 0 25px 0;
}

#palette div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100px;
}

#palette div span {
	display: inline-block;
	margin: 10px 25px;
}

#affiche_palette1 {
	border-radius: 10px 10px 0 0;
}

#affiche_palette5  {
	border-radius: 0 0 10px 10px;
}



/*--- RESPONSIVE PALETTE ---*/

@media screen and (max-width: 1024px) {

}




