/*--- GENERAL ---*/

body {
  font-family: "Helvetica", sans-serif;
  padding: 50px;
  text-align: center;
}

.hidden {
  display: none;
}

input {
  padding: 10px 20px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type="button"] {
  padding: 15px;
  background: unset;
  border: 1px solid black;
  text-transform: uppercase;
}

input[type="button"]:hover {
  color: white;
  background: black;
  cursor: pointer;
}





/*--- LOADER ---*/

#loader:not(.hidden) {
  background-color: black;
  background-image: url('../img/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  border-radius: 5px;
  margin-top: 50px;
  min-height: 100px;
}





/*--- CONVERSION ---*/

#conversion-result {
  margin-top: 25px;
}

#color-codes, #color-sample {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;
}

#color-sample {
  flex-direction: column;
  border-radius: 5px;
  min-height: 100px;
}

#color-codes > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 150px;
  min-height: 150px;
  padding: 15px;
  margin: 25px;
}

#color-codes strong {
  margin: 20px 0;
}

#color-codes p {
  margin-top: 0;
}
