/*--- GENERAL ---*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  padding-top: 1px;
  background: white; 
}

h1, h2, h3, h4, h5, strong {
  font-family: "Pacifico", sans-serif;
  font-weight: normal;
}

.hidden {
  display: none;
}

input, select {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}

input:not([type="button"]) {
  min-width: 200px;
}

input[type="button"] {
  padding: 15px;
  background: unset;
  border: 1px solid black;
  transition: all 0.3s;
}

input[type="button"]:hover {
  color: white;
  background: black;
  cursor: pointer;
  transform: scale(0.95);
}

footer {
  min-height: 100px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

footer a {
  color: white;
}



/*--- RESPONSIVE GENERAL ---*/

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}





/*--- ONGLETS ---*/

#navbar a {
  display: inline-block;
  margin: 0 50px;
  text-decoration: none;
  color: black;
  font-family: "Pacifico", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  animation: unfold-right 1s ease;
}

#navbar {
  display: flex;
  background: white;
  min-height: 100px;
  position: relative;
  z-index: 999;
}

#navbar:not(.sticky) {
  align-items: flex-end;
  box-shadow: inset 0px -16px 8px -16px rgba(0,0,0,0.25);
}

#navbar.sticky {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: calc(100% - 100px);
  background: white;
  padding: 5px 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
}

.shifty {
  margin-top: 100px;
}

.sticky > div {
  display: flex;
  align-items: center;
}

#navbar.sticky a {
  margin: 0 50px 0 0;
}

.sticky .onglet {
  border-radius: 10px;
  border-bottom: 1px solid black;
}

.sticky .onglet_1 {
  background: white;
}

.onglets {
  display: flex;
  justify-content: space-between;
}

.onglet {
  display: inline-block;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
}

.onglet:not(:nth-child(2)) {
  margin-left: 20px;
}

.onglet_0, .onglet_1 {
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s; 
}

.onglet_0 {
  background: black;
  color: white;
}

.onglet_1 {
  background: white;
}

.onglet_0:hover {
  background: black;
  transform: scale(0.95);
}

.contenu_onglet {
  background: white;
  padding: 50px 20px;
  min-height: calc(100vh - 301px);
  display: none;
  animation: unfold-down 1s ease;
}



/*--- RESPONSIVE ONGLETS ---*/

@media screen and (max-width: 768px) {
  #navbar > div {
    margin-top: 15px;
  }
  .shifty {
    margin-top: 105px;
  }
  .sticky > div {
    display: initial;
    margin-bottom: 15px;
  }
  #navbar a, #navbar.sticky a {
    display: block;
    margin: 0 0 15px 0;
    animation: unfold-down 1s ease;
    font-size: x-large;
  }
  #navbar {
    justify-content: center;
  }
}





/*--- LOADER ---*/

#loader:not(.hidden) {
  background-color: black;
  background-image: url('../img/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  border-radius: 10px;
  margin-top: 50px;
  min-height: 100px;
  animation: fade-pop-in 1s ease;
}





/*--- ABOUT ---*/

#about {
  display: inline-block;
  text-align: right;
  position: fixed;
  background: black;
  color: white;
  border: 1px solid white;
  border-right: none;
  bottom: 150px;
  right: 0px;
  padding: 10px 25px 10px 25px;
  border-radius: 10px 0 0 10px;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s;
}

#about.open {
  transform: translate3d(0, 0, 0);
}

#about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: fixed;
  background: black;
  color: white;
  border: 1px solid white;
  bottom: 75px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s;
  animation: extreme-fade-pop-in 1s ease;
}

#about-btn:hover {
  cursor: pointer;
  transform: scale(0.85);
}



/*--- RESPONSIVE ABOUT ---*/

@media screen and (max-width: 768px) {
  #about {
    bottom: 100px;
  }

  #about-btn {
    bottom: 25px;
    right: 25px;
  }
}





/*--- ANIMATIONS ---*/

@keyframes fade-pop-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes extreme-fade-pop-in {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes unfold-down {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes unfold-right {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}





