/*--- GENERAL ---*/

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  padding-top: 1px;
  background: lightgrey; 
}

.hidden {
  display: none;
}

input {
  padding: 10px 20px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

input[type="button"] {
  padding: 15px;
  background: unset;
  border: 1px solid black;
  transition: all 0.3s;
}

input[type="button"]:hover {
  color: white;
  background: black;
  cursor: pointer;
  transform: scale(0.95);
}

footer {
  min-height: 100px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

footer a {
  color: white;
}





/*--- ONGLETS ---*/

#navbar h1 {
  display: inline-block;
  margin: 0 50px;
}

#navbar {
  display: flex;
  min-height: 100px;
}

#navbar:not(.sticky) {
  align-items: flex-end;
}

#navbar.sticky {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: calc(100% - 100px);
  background: white;
  padding: 5px 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.shifty {
  margin-top: 50px;
}

.sticky > div {
  display: flex;
  align-items: center;
}

#navbar.sticky h1 {
  margin: 0 50px 0 0;
}

.sticky .onglet {
  border-radius: 10px;
}

.sticky .onglet:not(:nth-child(2)) {
  margin-left: 20px;
}

.sticky .onglet_1 {
  background: lightgrey;
}

.onglets {
  display: flex;
  justify-content: space-between;
}

.onglet {
  display: inline-block;
  cursor: pointer;
}

.onglet:not(:nth-child(2)) {
  margin-left: 5px;
}

.onglet_0, .onglet_1 {
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s; 
}

.onglet_0 {
  background: black;
  color: white;
}

.onglet_1 {
  background: white;
}

.onglet_0:hover {
  background: black;
  transform: scale(0.95);
}

.contenu_onglet {
  background: white;
  padding: 50px 20px;
  min-height: calc(100vh - 301px);
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



/*--- RESPONSIVE ONGLETS ---*/

@media screen and (max-width: 768px) {
  .sticky > div {
    display: initial;
  }
  #navbar h1, #navbar.sticky h1 {
    display: block;
    margin: 0 0 5px 0;
  }
  #navbar {
    justify-content: center;
  }
}





/*--- LOADER ---*/

#loader:not(.hidden) {
  background-color: black;
  background-image: url('../img/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  border-radius: 10px;
  margin-top: 50px;
  min-height: 100px;
}




